<% include ./partials/header %>

<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">

<!-- Custom CSS -->
<link rel="stylesheet" href="/stylesheets/about.css">

<div id="content" class="container">
    
    <!-- <section id="resume">

        <h1 class="title mb-5">CV</h1>

        <section id="experience">
            <h2 class="title mb-5">Experience</h2>
        </section>
    
        <section id="education">
    
            <h2 class="title mb-5">Education</h2>
    
            <div class="institute">
                <div class="location d-flex justify-content-between">
                    <p>09/2006 - 06/2016</p>
                    <p>Colombo, Sri Lanka</p>
                </div>
                <h4 class="name">Wycherley International School</h4>
                <div class="info">
                    <p class="qualifications">• Qualifications: CIE Ordinary Level, CIE Advanced Level</p>
                    <p class="awards">• Awards: Top 20 Results Achiever for CIE Ordinary Level (High School Award), Gold Medal for Best
                            Overall Advanced Level Results (High School Award), Award for Outstanding Advanced Level
                            Results in Sri Lanka (CIE Award)</p>
                    <p class="positions">• Positions of Responsibility: Junior Prefer (2011/12, 2014/15), Senior Prefect/ Prefect of Discipline (2015/16), Secretary of the
                            Interact Club (2014/15), Vice President of the Christian Society (2014/15), Co-Editor of the School
                            Magazine (2015/16)</p>
                    <p class="extra-c">• Extra-Curricular Activities: Basketball, Debating, Singing</p>
                </div>
            </div>
    
            <div class="institute mt-5">
                <div class="location d-flex justify-content-between">
                    <p>02/2017 - Present</p>
                    <p>Melbourne, Australia</p>
                </div>
                <h4 class="name">BSc - Computing & Software Systems, The University of Melbourne</h4>
                <div class="info">
                    <p class="wam">• Weighted Average Mark: 82.312</p>
                    <p class="coursework">• Relevant Coursework: Foundations of Computing, Foundations of Algorithms, Design of Algorithms, Object Oriented
                            Software Development, Database Systems, Software Modelling and Design, Elements of Data
                            Processing, Graphics & Interaction, Calculus, Linear Algebra, Real Analysis, Physics: Advanced</p>
                    <p class="positions">• Positions of Responsibility: General Committee, University of Melbourne Information Security Club (UMISC)
                            Period: 11/2018 - Present
                            Responsibilities:- Creation, maintenance and administration of club website.
                            - Design of club event posters.
                            - Assisting club members in understanding CySec and InfoSec methodologies
                            and developing their network security skills.
                            Events Co-Director, Melbourne University Blockchain Association (MUBA)
                            Period: 02/2019 - Present
                            Responsibilities:- Planning and coordination of club events.
                            - Liasing with Marketing Officer to promote events.
                            - Growing the number of events on offer for students.</p>
                </div>
            </div>
        </section>
    
        <section id="projects">
            <h2 class="title mb-5">Projects</h2>
        </section>
    
        <section id="hackathons">
            <h2 class="title mb-5">Hackathons</h2>
        </section>
    </section>
     -->

     <i class="fas fa-hammer"></i>
    <h1>Coming Soon...</h1>
</div>

<% include ./partials/footer %>
