<% include ./partials/header %>

<!-- Custom CSS -->
<link rel="stylesheet" href="/stylesheets/code.css">

<% var repo_config = { "Portfolio" : { name : "Portfolio", img: "/favicon.jpg"},
                 "UMISC_Website" : { name: "UMISC Website", img: "/repo_covers/umisc.png" },
                 "A2-COMP30019" : { name: "The Adventures of Squidwod", img:"repo_covers/squidwod.jpg"},
                 "SWEN30006-Project-C" : { name: "Learning to Escape"},
                 "SWEN30006-Project-B" : { name: "Judgement Day"},
                 "Luby-Jump-Android" : { name: "Luby Jump (Android)"},
                 "COMP30019-Project-01" : { name: "Procedural Land Generation" }
                } %>

<div id="content" class="container">
    
    <div class="row flex-wrap mt-5 justify-content-between">
        <% repos.forEach(function(repo){ %>
            <div class="repo col-12 col-md-4 py-4">
                <% if (repo_config[repo.name]) { %>
                <h4><%= repo_config[repo.name].name %></h4>
                <img src="<%= repo_config[repo.name].img%>" alt="" clas="img-fluid">
                <% if (repo.name === "Portfolio"){ %>
                <p>Pretty much how this website came to be ;)<br>(Developed using node.js & express)</p>
                <% }else{ %>
                <p><%= repo.description %></p>
                <% } %>
                <a href="<%= repo.html_url %>" target="_blank">
                    <div class="btn btn-outline-success">view repo</div>
                </a>
                <% } %>
            </div>
        <% }); %>
    </div>

</div>

<% include ./partials/footer %>
