<% include ./partials/header %>

<link rel="stylesheet" href="stylesheets/home.css">

<section id="banner">
    <h1>The Book of Shevon</h1>
</section>

<script src="/scripts/home.js"></script>

<% include ./partials/footer %>
