<% include ./partials/header %>

<link rel="stylesheet" href="stylesheets/home.css">

<div id="content" class="container">
    <section id="banner">
        <h1>The Book of Shevon<span id="ext">.</span></h1>
    </section>
    
    <section id="links">
        <a href="mailto:shevonmendis98@gmail.com">
            <i class="far fa-envelope"></i>
        </a>
        <a href="https://github.com/theshevon" target="_blank">
            <i class="fab fa-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/shevon-mendis/" target="_blank">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://medium.com/@shevon_mendis" target="_blank">
            <i class="fab fa-medium"></i>
        </a>
    </section>
</div>

<script src="/scripts/home.js"></script>

<% include ./partials/footer %>
