<% include ./partials/header %>

<div id="main-text" class="container">
    <h3>Welcome</h3>
    <h4>to</h4>
    <h1>The Marvelous Misadventures of a Brown Boy</h1>
</div>


<% include ./partials/footer %>
