<% include ./partials/header %>

<!-- Custom CSS -->
<link rel="stylesheet" href="/stylesheets/music.css">

<div id="content" class="container">
    
    <i class="fas fa-hammer"></i>
    <h1>Coming Soon...</h1>
    
</div>

<% include ./partials/footer %>
