<% include ./partials/header %>

<title>umisc | blog</title>

<!-- Custom CSS -->
<link rel="stylesheet" href="/stylesheets/photography.css">

<div id="content">

    <section id="photography" class="pt-5 pb-5">
        <h1 class="pb-3">moments & memories</h1>
       
        <div class="photos">
            <% for (var i=0; i<27; i++){ %>
                <div class="photo">
                    <img src="/photography/<%=i%>.jpg" alt="">
                </div>
            <% } %>
        </div>

    </section>

</div>

<% include ./partials/footer %>
