.date-time p{
	margin: 0;
	text-transform: uppercase;
}

.date-time p:nth-child(2){
	margin-left: 70px;
}

.blog-post, p{
    font-family: 'Times New Roman', Times, serif;
}

.blog-post{
	transition: 300ms;
}

.blog-post:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(0, 0, 0, 0.075);
}

.blog-post p a{
	font-weight: bolder;
	color: black;
}

.blog-post img{
	height: 20vh;
	width: 80%;
	object-fit: cover;
}

.blog-post p{
	font-style: italic;
	width: 80%;
	text-align: justify;
}

.thicc-line{
	height: 2px;
	background-color: black;
}

.thin-line{
	height: 1px;
	background-color: gray;
}

h1{
	color: white;
	background: black;
	font-size: 3.5rem;
	text-align: center;
	font-family: 'UnifrakturCook', cursive;
}

h1 span{
	font-size: 0.75em;
}
