h1, .blog-post{
    font-family: 'Times New Roman', Times, serif;
}

#content{
    border: 1px solid rgb(230, 229, 229);
}

h1{
	text-align: center;
	font-weight: bolder;
}

h1 span{
	font-size: 0.75em;
}

.blog-post{
	border: 1px solid rgb(230, 229, 229);
	border-radius: 8px;
	/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.01), 0 6px 20px 0 rgba(0, 0, 0, 0.01); */
	transition: 300ms;
}

.blog-post:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(0, 0, 0, 0.075);
}

.blog-post p a{
	color: #757575;
}

.blog-post img{
	height: 20vh;
	width: 80%;
	object-fit: cover;
}
