
#navLinks{
    align-items: center;
}


#main-text{
    height: 100%;
}

#mainNavBar .nav-link{
    font-size: 1.0rem;
    font-weight: 100;
    color: white;
}

#mainNavBar .navbar-brand img{
    height: 30px;
    width: 30px;
}

#navLinks .navbar-nav{
    width: 100%;
}

#navLinks .navbar-nav a{
    line-height: 0.5rem;
}

#mainNavBar .nav-link:hover{
    color: #202020;
}

#toggler{
    border: none;
}

#toggler:hover .navbar-toggler-icon{
    color: white;
}

#toggler:focus{
    border: 1px solid gray;
    outline: none;
}




