body{
    color: white;
    background: rgb(214, 27, 68);
    text-align: center;
}

h3, h4{
    font-weight: 100;
}

h3{
    font-size: 2rem;
}

h1{
    font-family: 'Lobster', cursive;
    font-size: 3.5rem;
}

#navLinks{
    align-items: center;
}


#main-text{
    margin: 15% auto;
}

#mainNavBar{
background-color: rgb(177, 24, 57);
}

#mainNavBar .nav-link{
font-size: 1.0rem;
font-weight: 100;
color: white;
}

#mainNavBar .navbar-brand img{
height: 30px;
width: 30px;
}

#navLinks .navbar-nav{
width: 100%;
}

#navLinks .navbar-nav a{
line-height: 0.5rem;
}

#mainNavBar .nav-link:hover{
color: gray;
}

#toggler{
border: none;
}

#toggler:hover .navbar-toggler-icon{
color: white;
}

#toggler:focus{
border: 1px solid gray;
outline: none;
}




