body{
    color: white;
    color: black;
    text-align: center;
}

/* #mainNavBar .nav-link{
    color: white;
} */

#mainNavBar .nav-link:hover{
    color: #202020;
}

#banner{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1{
    display: none;
    /* font-family: 'Gloria Hallelujah', cursive; */
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: 'FreeMono', monospace;
    font-size: 4rem;
}

@media(max-width:575px){
    h1{
        font-size: 3rem;
    }
}