body{
    color: white;
    text-align: center;
}

#mainNavBar .nav-link{
    color: white;
}

#mainNavBar .nav-link:hover{
    color: #202020;
}

#banner{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1{
    display: none;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 4rem;
}


