h1{
    text-align: center;
    font-family: "bookman old style", "bookman old";
}

.photos{
    display: flex;
    flex-wrap: wrap;
}

.photos::after{
    content: '';
    flex-grow: 999999999;
}

.photo{
    flex-grow: 1;
    margin: 2px;
    height: 200px;
}

.photo img{
    height: 200px;
    object-fit: cover;
    max-width: 100%;
    min-width: 100%;
    vertical-align: bottom;
}